<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:src="@{/TimerLogics.js}"></script>
    <link rel="stylesheet" th:href="@{/TimerPage.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

</head>


<body>

<main>
    <article id="ContainerMensagem">
        <p id="MensagemM">
            A ideia é nunca perder a motivação para subir cada degrau rumo ao sucesso,
            por mais difícil que seja.
            E também não esquecer de agradecer pelas lições aprendidas em cada etapa da jornada
        </p>
    </article>



    <article>
        <figure>
            <img id="PomodoroImage" th:src="@{/pomodoro.png}" alt="Tomate pomodoro">
        </figure>

        <div id="CenterTimer">
            <p id="minutes" contenteditable="true">00:</p>
            <p id="seconds" contenteditable="true">00</p>
        </div>

        <button id="Add" onclick="openaddCategory()"> + </button>
            <dialog id = "dAddCategory">
                <p>
                  Nome categoria
                </p>

                <p>
                    sub-categoria
                </p>

                <p>
                    cor
                </p>

                <p>
                    meta diaria
                </p>

            </dialog>
        <button id="start" onclick="Countdown()">Start</button>
        <button id ="Stop" onclick="CountdownStop()">  Parar</button>

    </article>


    <div class="Menu">
        <button id="stats"> Estáticas</button>
        <button id="Timer"> Timer</button>
        <button id="Ranking"> Ranking</button>
    </div>
</main>









</body>
</html>